body {
  background-color: #1c1c1c;
}

#title {
  font-size: 40px;
  width: 100%;
  margin: 2% 5%;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  color: #ffffff;
}

#searchBar {
  font-size: 10px;
  width: 80%;
  background-color: #2f2f2f;
  border-radius: 25px; /* rounded corners */
}

#searchText {
  font-size: 20px;
  border-radius: 25px;
}

#searchContactsButton {
  font-size: 20px;
  border-radius: 25px;
  width: 30%;
  font-family: "Ubuntu", sans-serif;
}

.buttons:hover {
  background-color: #b5babe;
}

.styled-table {
  width: 70%;
  border-radius: 25px;
  margin: 25px 0;
  font-size: 20px;
  font-family: "Ubuntu", sans-serif;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

/* Table header  */
.styled-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: center;
}

/* Table body */
.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
  font-weight: bold;
  color: #009879;
  background-color: #2f2f2f;
}

/* table inner padding */
.styled-table th,
.styled-table td {
  padding: 12px 15px;
}

#addColor {
}
